/* body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; 
    color: #333333; 
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
}

header h1 {
    color: #E74C3C; 
}

header p {
    color: #2C3E50; 
}

section {
    background-color: #FFFFFF; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #F1C40F; 
}

section p {
    color: #F5B7B1; 
}

form input, form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #E74C3C; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
